.Footer {
  background-color: #f7f7f7;
  &-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 0.5em;
    width: 79%;
    margin: 0 auto;
  }

  &-menu:nth-child(4) {
    grid-column: 4 / 6;
    //grid-column: 4 / span 2;
    text-align: left;
  }

  &-list {
    width: 80%;
    margin: 0 auto;
    ul {
      padding-left: 0;
      display: flex;
      list-style: none;
      & li {
        padding: 0 1em 0 0;
        border-right: 1px solid #b3b3b3;
      }
    }
  }
}

.copyright {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 12px;
}

.byismael {
  margin: 0;
  font-size: 12px;
  text-align: center;
  background-color: #512b58;
  padding: 0.5em;
  color: #f7f7f7;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.4);
}

.color {
  color: red;
}

.Footer-list ul li:nth-child(odd) {
  margin: 0 10px;
}

.Footer-list ul li:nth-last-child(1) {
  border: none;
}
